.editItem {
  position: relative;
  border: 1px solid gray;
  margin: .6rem;
  padding: 13px 10px;
  text-align: center;
  height: 15px;
  border-radius: 5px;
}
.generalItemContainer {
  display: flex;
  margin: .6rem;
}
.itemCheckBox {
  border-radius: 50%;
  border: 1px solid gray;
  height: 40px;
  width: 40px;
  margin: 2px 10px;
}
.generalItem {
  flex: 6;
  position: relative;
  border: 1px solid gray;
  padding: 13px 10px;
  text-align: center;
  height: 15px;
  border-radius: 5px;
}
.generalItemSubItemName {
  width: 78%;
  position: absolute;
  height: 25px;
  top: 50%;
  padding: 3px;
  transform: translate(0%, -36%);
  text-align: left;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.addItemBtn {
  text-align: center;
  height: 50px;
  margin: 0 45%;
  margin-top: 1rem;
}
.statusBtn {
  display: inline-block;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  top: 9px;
  padding: 6px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.statusStart {
  background: rgb(27, 164, 27);
}
.statusEnd {
  background: rgb(202, 7, 36);
}
.statusCancel {
  background: rgb(114, 114, 114);
  right: 65px;
}
.itemRemoveBtn {
  position: absolute;
  display: inline-block;
  padding: 5px;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  height: 18px;
  width: 18px;
  line-height: 15px;
  font-size: 25px;
  top: calc(50% - 13px);
  cursor: pointer;
  outline: none;
}
.itemRemoveBtn:focus {
  outline: none;
}

.triangle {
  position: absolute;
  top: 12px;
  right: 6px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.up {
  border-bottom: 5px solid #c7c2c2;

}
.down {
  border-top: 5px solid #c7c2c2;
}
.removeBtn {
  background: #96969673;
  right: 20px;
}
.cancelRemoveBtn {
  background: #00aa00;
  right: 20px;
}
.confirmRemoveBtn {
  background: #ff5353;
  line-height: 8px;
  right: 65px;
}
.pageHeader {
  position: relative;
  display: flex;
  padding: 20px;
}
.headerBlock {
  display: inline-block;
  text-align: center;
  padding: 0;
}
.pageTypeTag {
  position: relative;
  flex: 1.6;
  border: 1px solid gray;
  padding: 5px;
  font-size: 15px;
  height: 18px;
  border-radius: 5px;
  opacity: .85;
  cursor: pointer;
}
.pageTitle {
  flex: 7;
  font-weight: bold;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.disabledBtn {
  background-color: grey;
}
.enabledBtn {
  background: #00aa00;
}
.editTitle {
  border: 1px solid #09325b91;
  border-radius: 5px;
  height:100%;
  width: 80%;
}
.pageActionTag {
  flex: 1;
  padding: 5px;
  cursor: pointer;
}
.editBtn {
  padding: 6px 20px;
  color: white;
  border-radius: 5px;
}
.completeBtn {
}
.selectRatio {
  background: #ade69b;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  margin: 10%;
}
.shakeAnimation {
  animation: shake 0.4s ease-in-out 1.5;
}
@keyframes shake {
  0% { transform: translateY(-5px); }
  20% { transform: translateY(5px); }
  50% { transform: translateY(-5px); }
  75% { transform: translateY(5px); }
  100% { transform: translateY(-5px); }
}
.subItemName {
  width: 75%;
  position: absolute;
  height: 25px;
  top: 50%;
  padding: 3px;
  transform: translate(-56%, -50%);
  text-align: center;
}
.subItemNameBtn {
  border: 1px solid #09325b91;
  border-radius: 5px;
}

.warningMsg {
  display: block;
  font-size: 12px;
  color: red;
}

.typeItem {
  border: 1px solid #fff;
  padding: 5px;
  cursor: pointer;
  opacity: .85;
}

.typePopover {
  position: absolute;
  top: 50px;
  height: 200px;
  width: 130px;
  z-index: 999;
  text-align: center;
  overflow: scroll;
  background-color: #fff;
}

.selectedItem {
  background: #ade69b;
}

.displayNone {
  display: none;
}

.flashAnimation {
  animation: flash 2s;
  animation-iteration-count: 60;
}

@keyframes flash {
  0% {
    border-color: #af000091;
  }
  50% {
    border-color: #af000038;
  }
  100% {
    border-color: #af000091;
  }
}